{"openapi":"3.0.0","info":{"title":"Contentstack Content Management API OpenAPI Specification","description":"<p>Contentstack provides a set of read-write APIs that enables you to interact with the information and perform any tasks within your Contentstack account. You can create\\/edit\\/delete entries and assets, manage Content Types, etc., using these APIs. Contentstack provides an OpenAPI JSON file that consists of a set of preconfigured REST API requests that will make it easy for you to get started with the Contentstack Management APIs and try out our API requests through the Swagger Editor.\n</p><p style=\"background-color: rgb(255, 255, 255);\">CMA OpenAPI Details:\n</p><ul>\n\t<li>Version: 3.0.0</li>\n\t<li>Last Updated: April 15, 2026</li>\n</ul>","version":"3.0.0"},"servers":[{"url":"https://api.contentstack.io","description":"North America"},{"url":"https://eu-api.contentstack.com","description":"Europe"},{"url":"https://azure-na-cdn.contentstack.com","description":"Azure - North America"},{"url":"https://azure-eu-api.contentstack.com/","description":"Azure - Europe"}],"paths":{"/v3/user-session":{"post":{"summary":"Log in to your account","description":"<p>The <span data-type=\"inlineCode\">Log in to your account</span>&nbsp;request is used to sign in to your Contentstack account and obtain the authtoken.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#log-in-to-your-account>Log in to your account</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"logintoyouraccount","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["User session"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"email\": \"{{user_email}}\",\n\t\t\"password\": \"{{password}}\",\n\t\t\"tfa_token\": \"{{your_2FA_token}}\"\n\t}\n}"}}},"required":true}},"delete":{"summary":"Log out of your account","description":"<p>The <span data-type=\"inlineCode\">Log out of your account</span> call is used to sign out the user of&nbsp;Contentstack account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#log-out-of-your-account>Log out of your account</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"logoutofyouraccount","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["User session"],"security":[{"authtoken":[]}]}},"/v3/user":{"get":{"summary":"Get user","description":"<p>The <span data-type=\"inlineCode\">Get user</span> call returns comprehensive information of an existing user account. The information returned includes details of the stacks owned by and shared with the specified user account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-user>Get user</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getuser","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"security":[{"authtoken":[]}]},"put":{"summary":"Update user","description":"<p>The <span data-type=\"inlineCode\">Update User</span> API Request updates the details of an existing user account. Only the&nbsp;information entered here will be updated, the existing data will remain unaffected.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#update-user>Update user</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"updateuser","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"company\": \"company name inc.\"\n\t}\n}"}}},"required":true}}},"/v3/user/activate/{user_activation_token}":{"post":{"summary":"Activate a user account","description":"<p>The <span data-type=\"inlineCode\">Activate a user account</span> call activates the account of a user after signing up. For account activation, you will require the token received in the activation email.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#activate-a-user-account>Activate a user account</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"activateauseraccount","parameters":[{"$ref":"#/components/parameters/user_activation_token"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\"user\": {\n\"first_name\": \"your_first_name\",\n\"last_name\": \"your_last_name\",\n\"password\": \"your_password\",\n\"password_confirmation\": \"confirm_your_password\"\n}\n}"}}},"required":true}}},"/v3/user/forgot_password":{"post":{"summary":"Request for a password","description":"<p>The <span data-type=\"inlineCode\">Request for a password</span> API helps to get a temporary password to log into an account in case a user has forgotten the login password.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#request-for-a-password>Request for a password</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"requestforapassword","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"email\": \"john.doe@contentstack.com\"\n\t}\n}"}}},"required":true}}},"/v3/user/reset_password":{"post":{"summary":"Reset password","description":"<p>The <span data-type=\"inlineCode\">Reset password</span> API request allows you to reset your Contentstack account password.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#reset-password>Reset password</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"resetpassword","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"reset_password_token\": \"abcdefghijklmnop1234567890\",\n\t\t\"password\": \"your_new_password\",\n\t\t\"password_confirmation\": \"your_new_password\"\n\t}\n}"}}},"required":true}}},"/v3/organizations":{"get":{"summary":"Get all Organizations","description":"<p>The <span data-type=\"inlineCode\">Get all organizations</span> call lists all organizations related to the system user in the order that they were created.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-organizations>Get all Organizations</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallorganizations","parameters":[{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of entries in the output. Example, if there are 10 organizations and you wish to fetch only the first 2, you need to specify '2' as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of organizations in the output. Example, if there are 12 organizations and you want to skip the first 2 to get only the last 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of organizations in the ascending order with respect to the value of a specific field.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of Organizations in the descending order with respect to the value of a specific field.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of organizations related to the user. Example: If you wish to know the total number of organizations, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"The typeahead parameter is a type of filter that allows you to perform a name-based search on all organizations based on the value provided. Example, if we have four organizations named ‘ABC’, ‘ABC1’, ‘XYZ’, and ‘ACC’, and we provide ‘ABC’ as the value to this parameter, the search result will return the organizations ‘ABC’ and ‘ABC1’ as the output.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}":{"get":{"summary":"Get a single Organization","description":"<p>The <span data-type=\"inlineCode\">Get a single organization</span> call gets the comprehensive details of a specific organization related to the system user.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-a-single-organization>Get a single Organization</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getasingleorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"include_plan","in":"query","required":false,"description":"The include_plan parameter includes the details of the plan that the organization has subscribed to. To include the details of the subscribed plan in the Response body, enter ‘true’.\n","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/roles":{"get":{"summary":"Get all roles in an Organization","description":"<p>The <span data-type=\"inlineCode\">Get all roles in an organization</span> call&nbsp;gives the details of all the roles that are set to users in an Organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-roles-in-an-organization>Get all roles in an Organization</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallrolesinanorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of Organization roles in the output. Example, if there are 10 organization roles and you wish to fetch only the first 2, you need to specify '2' as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of Organization roles in the output. For example, if there are 12 organization roles and you want to skip the first 2 to get only the last 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of organization roles in an ascending order on the basis of a parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of organization roles in a descending order on the basis of a parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of roles in an organization. For example: If you want to know the total number of roles in an organization, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"include_stack_roles","in":"query","required":false,"description":"The ‘include_stack_roles’ parameter,&nbsp;when set to ‘true’, includes the details of stack-level roles in the Response body.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/share/search":{"post":{"summary":"Get Organization users by email","description":"<p>The <span data-type='inlineCode'>Get Organization users by email</span> request retrieves information about users within an organization based on their email addresses.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-organization-users-by-email>Get Organization users by email</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getorganizationusersbyemail","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"include_roles","in":"query","required":false,"description":"The include_roles parameter, when set to “true,” will display the details of the roles that are assigned to the organization users.","style":"form","schema":{"type":"string","example":""}},{"name":"include_user_details","in":"query","required":false,"description":"The include_user_details parameter, when set to “true,” lets you know whether the user has enabled Two-factor Authentication or not.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The include_count parameter returns the total number of organization users. Example: If you wish to know the total number of organization invitations, you need to mention “true.”","style":"form","schema":{"type":"string","example":""}},{"name":"limit","in":"query","required":false,"description":"The limit parameter will return a specific number of organization users in your output. Example, if you want to retrieve details of 10 users and you wish to fetch only the first 5, you need to specify “5” as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The skip parameter will skip a specific number of organization users in your output. Example, if you want to retrieve details of 10 users and you wish to skip the latest 5, you need to specify “5” as the value in this parameter.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"emails\":[\"abc@sample.com\"]\n}"}}},"required":true}}},"/v3/organizations/{organization_uid}/share":{"post":{"summary":"Add users to Organization","description":"<p>The <span data-type=\"inlineCode\">Add users to organization</span> request allows you to send invitations to add users to your organization. Only the owner or the admin of the organization can add users.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#add-users-to-organization>Add users to Organization</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"adduserstoorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"share\": {\n\t\t\"users\": {\n\t\t\t\"abc@sample.com\": [\"{{orgAdminRoleUid}}\"],\n\t\t\t\"xyz@sample.com\": [\"{{orgMemberRoleUid}}\"]\n\t\t},\n\t\t\"stacks\": {\n\t\t\t\"abc@sample.com\": {\n\t\t\t\t\"{{apiKey}}\": [\"{{stackRoleUid1}}\"]\n\t\t\t},\n\t\t\t\"xyz@sample.com\": {\n\t\t\t\t\"blta1ed1f11111c1eb1\": [\"blt111d1b110111e1f1\"],\n\t\t\t\t\"bltf0c00caa0f0000f0\": [\"bltcea22222d2222222\", \"blt333f33cb3e33ffde\"]\n\t\t\t}\n\t\t},\n\t\t\"message\": \"Invitation message\"\n\t}\n}"}}},"required":true}},"delete":{"summary":"Remove users from organization","description":"<p>The <span data-type=\"inlineCode\">Remove users from organization</span> request allows you to remove existing users from your organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#remove-users-from-organization>Remove users from organization</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"removeusersfromorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"emails\":[\n        \"abc@sample.com\", \"xyz@sample.com\"\n    ]\n}"}}},"required":true}},"get":{"summary":"Get all Organization invitations","description":"<p>The <span data-type=\"inlineCode\">Get all organization invitations</span> call gives you a list of all the Organization invitations. Only the owner or the admin of the Organization can resend the invitation to add users to an Organization.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-organization-invitations>Get all Organization invitations</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallorganizationinvitations","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of sent organization invitations in the output. Example, if 10 invitations were sent out and you wish to fetch only the first 8, you need to specify '2' as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of organization roles in the output. Example, if there are 12 organization roles and you want to skip the last 2 to get only the first 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of organization invitations in ascending order on the basis of a specific parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of organization invitations in descending order on the basis of a specific parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of organization invitations sent out. Example: If you wish to know the total number of organization invitations, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"include_roles","in":"query","required":false,"description":"The ‘include_roles’ parameter,&nbsp;when set to ‘true’, will display the details of the roles that are assigned to the user in an organization.","style":"form","schema":{"type":"string","example":""}},{"name":"include_invited_by","in":"query","required":false,"description":"The ‘include_invited_by’ parameter, when set to ‘true’, includes the details of the user who sent out the organization invitation.","style":"form","schema":{"type":"string","example":""}},{"name":"include_user_details","in":"query","required":false,"description":"The ‘include_user_details’ parameter,&nbsp;when set to ‘true’, lets you know whether the user who has been sent the organization invitation has enabled Two-factor Authentication or not.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"The ‘typeahead’ parameter allows you to perform a name-based search on all the stacks on an organization based on the value provided. For example, it allows you to perform an email-ID-based search on all users based on the email ID provided.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/share/{share_uid}/resend_invitation":{"get":{"summary":"Resend pending Organization invitation","description":"<p>The <span data-type='inlineCode'>Resend pending organization invitation</span> request allows you to resend the Organization invitations to users who have not yet accepted the earlier invitation. Only the owner or the admin of the Organization can resend the invitation to add users to an Organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#resend-pending-organization-invitation>Resend pending Organization invitation</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"resendpendingorganizationinvitation","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/share_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/transfer-ownership":{"post":{"summary":"Transfer Organization ownership","description":"<p>The <span data-type=\"inlineCode\">Transfer organization ownership</span> call transfers the ownership of an Organization to another user. When the call is executed, an email invitation for accepting the ownership of a particular Organization is sent to the specified user.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#transfer-organization-ownership>Transfer Organization ownership</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"transferorganizationownership","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"transfer_to\": \"abc@sample.com\"\n}"}}},"required":true}}},"/v3/organizations/{organization_uid}/stacks":{"get":{"summary":"Get all stacks in an Organization","description":"<p>The <span data-type=\"inlineCode\">Get all stacks in an organization</span> call fetches the list of all stacks in an Organization.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-stacks-in-an-organization>Get all stacks in an Organization</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallstacksinanorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of stacks in the output. Example, if there are 10 organization stacks and you wish to fetch only the first 2, you need to specify '2' as value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of organization stacks in the output. Example, if there are 12 stacks and you want to skip the last 2 to get only the first 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of stacks in an organization in the ascending order.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of stacks in an organization in the descending order.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of stacks in an organization. Example: If you wish to know the total number of stacks in your organization, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"The ‘typeahead’ parameter allows you to perform a name-based search on all the stacks on an organization based on the value provided.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/logs":{"get":{"summary":"Get organization log details","description":"<p>The <span class=\"code\">Get organization log details</span> request is used to retrieve the audit log details of an organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-organization-log-details>Get organization log details</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getorganizationlogdetails","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/logs/{log_uid}":{"get":{"summary":"Get organization log item","description":"<p>The <span class=\"code\">Get organization log item</span> request is used to retrieve a specific item from the audit log of an organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-organization-log-item>Get organization log item</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getorganizationlogitem","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/log_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/teams":{"get":{"summary":"Get all teams","description":"<p>The <span data-type='inlineCode'>Get all teams</span> request returns comprehensive information of all the teams available in your organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-teams>Get all teams</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallteams","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"includeUserDetails","in":"query","required":false,"description":"Set this parameter to “true” to include the details of users in the response.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"Sort the response in ascending order.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"Sort the response in descending order.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"Retrieves responses that match the provided string.","style":"form","schema":{"type":"string","example":""}},{"name":"limit","in":"query","required":false,"description":"Enter the maximum number of teams to be returned.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"Enter the number of teams to be skipped from the response body.","style":"form","schema":{"type":"string","example":""}},{"name":"user_uid","in":"query","required":false,"description":"Enter the user UIDs in string format, separated by commas, for filtering.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/api_version"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]},"post":{"summary":"Create a team","description":"<p>The <span data-type='inlineCode'>Create a team</span> request creates a team in the specified organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#create-a-team>Create a team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"createateam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"includeUserDetails","in":"query","required":false,"description":"Set this parameter to “true” to include the details of users in the response.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"name\": \"Team A\",\n    \"users\": [\"blt**************a0\"],\n    \"stackRoleMapping\": [{\n            \"stackApiKey\": \"blt**************74\",\n            \"roles\": [\n                \"blt**************f6\"\n            ]\n        }],\n    \"organizationRole\": \"blt**************c5\"\n}"}}},"required":true}}},"/v3/organizations/{organization_uid}/teams/{team_uid}":{"get":{"summary":"Get a single team","description":"<p>The <span data-type='inlineCode'>Get a single team</span> request returns comprehensive information of a specific team available in a particular organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-a-single-team>Get a single team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getasingleteam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"},{"name":"includeUserDetails","in":"query","required":false,"description":"Set this parameter to “true” to include the details of users in the response.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]},"put":{"summary":"Update a team","description":"<p>The <span data-type='inlineCode'>Update a team</span> request is used to modify details, such as adding or removing users from a team, assigning or removing stack roles within a team, updating team descriptions, and updating organization roles for an existing team within a specific organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#update-a-team>Update a team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"updateateam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"},{"name":"includeUserDetails","in":"query","required":false,"description":"Set this parameter to “true” to include the details of users in the response.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"name\": \"Team A\",\n    \"users\": [\n        {\n            \"email\": \"john.doe@contentstack.com\"\n        }\n    ],\n    \"organizationRole\": \"blt**************8d\",\n    \"stackRoleMapping\": [\n        {\n            \"roles\": [\n                \"blt**************f6\"\n            ],\n            \"stackApiKey\": \"blt**************74\"\n        }\n    ]\n}"}}},"required":true}},"delete":{"summary":"Delete a team","description":"<p>The <span data-type='inlineCode'>Delete a team</span> request deletes an existing team along with all its associated users and assigned roles.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#delete-a-team>Delete a team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"deleteateam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/teams/{team_uid}/users":{"get":{"summary":"Get all users of team","description":"<p>The <span data-type='inlineCode'>Get all users of team</span> request retrieves information about all the users associated with a particular team.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-users-of-team>Get all users of team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallusersofteam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"},{"name":"includeUserDetails","in":"query","required":false,"description":"Set this parameter to “true” to include the details of users in the response.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this parameter to “true” to include the total count of users in the response.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]},"post":{"summary":"Add users to team","description":"<p>The <span data-type='inlineCode'>Add users to team</span> request allows you to send invitations to add users and assign them organizational and stack roles.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#add-users-to-team>Add users to team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"adduserstoteam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"emails\":[\"john.doe@contentstack.com\", \"jane.doe@contentstack.com\"]\n}"}}},"required":true}}},"/v3/organizations/{organization_uid}/teams/{team_uid}/users/{user_uid}":{"delete":{"summary":"Remove a user from team","description":"<p>The <span data-type='inlineCode'>Remove a user from team</span> request allows you to remove an existing user from a particular team.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#remove-a-user-from-team>Remove a user from team</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"removeauserfromteam","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"},{"$ref":"#/components/parameters/user_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/teams/{team_uid}/stack_role_mappings":{"get":{"summary":"Get all stack role mapping","description":"<p>The <span data-type='inlineCode'>Get all stack role mapping</span> request allows you to retrieve details of all associated stacks for a specified team in your organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-stack-role-mapping>Get all stack role mapping</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallstackrolemapping","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]},"post":{"summary":"Add a stack role mapping","description":"<p>The <span data-type='inlineCode'>Add a stack role mapping</span> request allows you to associate users from a specified team with the available stacks in your organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#add-a-stack-role-mapping>Add a stack role mapping</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"addastackrolemapping","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"stackApiKey\": \"blt**************74\",\n    \"roles\": [\n        \"blt**************f6\",\n        \"blt**************37\"\n    ]\n}"}}},"required":true}}},"/v3/organizations/{organization_uid}/teams/{team_uid}/stack_role_mappings/{stack_api_key}":{"post":{"summary":"Update a stack role mapping","description":"<p>The <span data-type='inlineCode'>Update a stack role mapping</span> request allows you to update the stack roles for a specific stack in your organization. You need to pass the role UIDs in the request body as follows:<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#update-a-stack-role-mapping>Update a stack role mapping</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"updateastackrolemapping","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"},{"$ref":"#/components/parameters/stack_api_key"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"roles\": [\n        \"blt**************48\",\n        \"blt**************f4\"\n    ]\n}"}}},"required":true}},"delete":{"summary":"Remove a stack role mapping","description":"<p>The <span data-type='inlineCode'>Remove a stack role mapping</span> request allows you to delete the associations of team users for a specified stack in your organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#remove-a-stack-role-mapping>Remove a stack role mapping</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"removeastackrolemapping","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/team_uid"},{"$ref":"#/components/parameters/stack_api_key"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Teams"],"security":[{"authtoken":[]}]}},"/v3/stacks":{"get":{"summary":"Get a single stack","description":"<p>The <span data-type=\"inlineCode\">Get a single stack</span>&nbsp;call fetches comprehensive details of a specific stack.<br><br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-a-single-stack>Get a single stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getasinglestack","parameters":[{"name":"include_collaborators","in":"query","required":false,"description":"Set this parameter to 'true' to include the details of the stack collaborators.","style":"form","schema":{"type":"string","example":""}},{"name":"include_stack_variables","in":"query","required":false,"description":"Set this to 'true' to display the stack variables. Stack variables are extra information about the stack, such as the description, format of date, format of time, and so on. Users can include or exclude stack variables in the response.","style":"form","schema":{"type":"string","example":""}},{"name":"include_discrete_variables","in":"query","required":false,"description":"Set this to 'true' to view the access token of your stack.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this to 'true' to include in the response the total count of the stacks owned by or shared with a user account.","style":"form","schema":{"type":"string","example":""}},{"name":"organization_uid","in":"header","required":false,"description":"Enter the UID of your organization.","style":"simple","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]},"post":{"summary":"Create stack","description":"<p>The <span data-type=\"inlineCode\">Create stack</span> call creates a new stack in your Contentstack account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#create-stack>Create stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"createstack","parameters":[{"name":"organization_uid","in":"header","required":true,"description":"Enter the uid of your organization.","style":"simple","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n  \"stack\": {\n    \"name\": \"My New Stack\",\n    \"description\": \"My new test stack\",\n    \"master_locale\": \"en-us\"\n  }\n}"}}},"required":true}},"put":{"summary":"Update stack","description":"<p>The <span data-type=\"inlineCode\">Update stack</span> call lets you update the name and description of an existing stack.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#update-stack>Update stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"updatestack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"stack\": {\n\t\t\"name\": \"My New Stack\",\n\t\t\"description\": \"My new test stack\"\n\t}\n}"}}},"required":true}},"delete":{"summary":"Delete stack","description":"<p>The <span data-type=\"inlineCode\">Delete stack</span> call is used to delete an existing stack permanently from your Contentstack account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#delete-stack>Delete stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"deletestack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]}},"/v3/stacks/":{"get":{"summary":"Get all stacks","description":"<p>The <span data-type=\"inlineCode\">Get all stacks</span> call fetches the list of all stacks owned by and shared with a particular user account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-stacks>Get all stacks</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallstacks","parameters":[{"name":"include_collaborators","in":"query","required":false,"description":"Set this parameter to 'true' to include the details of the stack collaborators.","style":"form","schema":{"type":"string","example":""}},{"name":"include_stack_variables","in":"query","required":false,"description":"Set this to 'true' to display the stack variables. Stack variables are extra information about the stack, such as the description, format of date, format of time, and so on. Users can include or exclude stack variables in the response.","style":"form","schema":{"type":"string","example":""}},{"name":"include_discrete_variables","in":"query","required":false,"description":"Set this to 'true' to view the access token of your stack.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this to 'true' to include in the response the total count of the stacks owned by or shared with a user account.","style":"form","schema":{"type":"string","example":""}},{"name":"organization_uid","in":"header","required":false,"description":"Enter the uid of your organization.","style":"simple","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"authtoken":[]}]}},"/v3/stacks/users":{"get":{"summary":"Get all users of a stack","description":"<p>The <span data-type=\"inlineCode\">Get all users of a stack</span> call fetches the list of all users of a particular stack\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-users-of-a-stack>Get all users of a stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallusersofastack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]}},"/v3/stacks/users/roles":{"post":{"summary":"Update User Role","description":"<p>The <span data-type='inlineCode'>Update User Role</span> API Request updates the roles of an existing user account. This API Request will override the existing roles assigned to a user. For example, we have an existing user with the \"Developer\" role, and if you execute this API request with \"Content Manager\" role, the user role will lose \"Developer\" rights and the user role&nbsp;be updated to just \"Content Manager\".<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#update-user-role>Update User Role</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"updateuserrole","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"users\": {\n\t\t\"user_uid\": [\"role_uid1\", \"role_uid2\"]\n\t}\n}"}}},"required":true}}},"/v3/stacks/transfer_ownership":{"post":{"summary":"Transfer stack ownership to other users","description":"<p>The <span data-type=\"inlineCode\">Transfer stack ownership to other users</span> call sends the specified user an email invitation for accepting the ownership of a particular stack.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#transfer-stack-ownership-to-other-users>Transfer stack ownership to other users</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"transferstackownershiptootherusers","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"transfer_to\": \"manager@example.com\"\n}"}}},"required":true}}},"/v3/stacks/accept_ownership/{ownership_token}":{"get":{"summary":"Accept stack owned by other user","description":"<p>The <span data-type=\"inlineCode\">Accept stack owned by other user</span> call allows a user to accept the ownership of a particular stack via an email invitation.\n<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#accept-stack-owned-by-other-user>Accept stack owned by other user</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"acceptstackownedbyotheruser","parameters":[{"$ref":"#/components/parameters/ownership_token"},{"name":"uid","in":"query","required":true,"description":"Enter the user uid.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"]}},"/v3/stacks/settings":{"get":{"summary":"Get stack settings","description":"<p>The <span data-type=\"inlineCode\">Get stack settings</span> call retrieves the configuration settings of an existing stack.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-stack-settings>Get stack settings</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getstacksettings","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]},"post":{"summary":"Add stack settings","description":"<p>The <span data-type='inlineCode'>Add stack settings</span> request lets you add additional settings for your existing stack.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#add-stack-settings>Add stack settings</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"addstacksettings","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"stack_settings\": {\n \t\t\"stack_variables\": {\n\t\t\t\"enforce_unique_urls\": true,\n\t\t\t\"sys_rte_allowed_tags\": \"style,figure,script\",\n\t\t\t\"sys_rte_skip_format_on_paste\": \"GD:font-size\"\n        },\n\t\t\"rte\": {\n\t\t\t\"cs_breakline_on_enter\": true,\n\t\t\t\"cs_only_breakline\": true\n\t\t},       \n        \"live_preview\": {\n            \"enabled\": true,\n            \"default-env\": \"blt94aa4e3021b96811\",\n            \"default-url\": \"https://preview.example.com\"\n        }\n    }\n}"}}},"required":true}}},"/v3/stacks/settings/reset":{"post":{"summary":"Reset stack settings","description":"<p>The <span data-type=\"inlineCode\">Reset stack settings</span> call resets your stack to default settings, and additionally, lets you add parameters to or modify the settings of an existing stack.<br><br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#reset-stack-settings>Reset stack settings</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"resetstacksettings","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"stack_settings\":{}\n}"}}},"required":true}}},"/v3/stacks/share":{"post":{"summary":"Share a stack","description":"<p>The <span data-type=\"inlineCode\">Share a stack</span> call shares a stack with the specified user to collaborate on the stack.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#share-a-stack>Share a stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"shareastack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"emails\": [\n\t\t\"manager@example.com\"\n\t],\n\t\"roles\": {\n\t\t\"manager@example.com\": [\n\t\t\t\"abcdefhgi1234567890\"\n\t\t]\n\t}\n}"}}},"required":true}}},"/v3/stacks/unshare":{"post":{"summary":"Unshare a stack","description":"<p>The <span data-type=\"inlineCode\">Unshare a stack</span> call unshares a stack with a user and removes the user account from the list of collaborators. Once this call is executed, the user will not be able to view the stack in their account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#unshare-a-stack>Unshare a stack</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"unshareastack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"email\": \"manager@example.com\"\n}"}}},"required":true}}},"/v3/stacks/branches":{"get":{"summary":"Get all branches","description":"<p>The <span data-type='inlineCode'>Get all branches</span> request returns comprehensive information of all the branches available in a particular stack in your account.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-all-branches>Get all branches</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getallbranches","parameters":[{"name":"limit","in":"query","required":false,"description":"Enter the maximum number of branches to be returned.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"Enter the number of branches to be skipped from the response body.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this parameter to 'true' to include in response the total count of branches available in a stack.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"post":{"summary":"Create a branch","description":"<p>The <span data-type='inlineCode'>Create a branch</span> request creates a new branch in a particular stack of your organization.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#create-a-branch>Create a branch</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"createabranch","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"branch\": {\n        \"uid\": \"release\",\n        \"source\": \"main\"\n    }\n}"}}},"required":true}}},"/v3/stacks/branches/{branch_uid}":{"get":{"summary":"Get a single branch","description":"<p>The <span data-type='inlineCode'>Get a single branch</span> request returns information of a specific branch.<br /><span style='font-size: 10.5pt;'>To configure the permissions for your application via OAuth, please include the </span><span><span data-type='inlineCode'>cm.branches.management:read</span></span><span style='color:rgb(0, 0, 255);font-size: 10.5pt;'> </span><span style='font-size: 10.5pt;'>scope.</span><br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#get-a-single-branch>Get a single branch</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"getasinglebranch","parameters":[{"$ref":"#/components/parameters/branch_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"delete":{"summary":"Delete a branch","description":"<p>The <span data-type=\"inlineCode\">Delete a branch</span> request deletes an existing branch and all the content within it.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#delete-a-branch>Delete a branch</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"deleteabranch","parameters":[{"$ref":"#/components/parameters/branch_uid"},{"name":"force","in":"query","required":true,"description":"Enter 'true' to force delete a branch.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[]}]}},"/v3/stacks/branches_compare":{"get":{"summary":"Compare branches","description":"<p>The <span data-type='inlineCode'>Compare branches</span> request returns a list of all the differences between two branches.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#compare-branches>Compare branches</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"comparebranches","parameters":[{"name":"base_branch","in":"query","required":false,"description":"The basis on which comparison is done. If kept empty, the source branch of the compare branch is considered by default.","style":"form","schema":{"type":"string","example":""}},{"name":"compare_branch","in":"query","required":true,"description":"Enter the branch you want to compare with the base branch.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"Enter the number of branches to be skipped from the response body.","style":"form","schema":{"type":"string","example":""}},{"name":"limit","in":"query","required":false,"description":"Enter the maximum number of branches compare result to be returned. The default limit is set at 100.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/stacks/branches_compare/content_types":{"get":{"summary":"Compare content types between branches","description":"<p>The <span data-type='inlineCode'>Compare content types between branches</span> request returns a list of all the differences in content types between the two specified branches.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apiscontent-management-api#compare-content-types-between-branches>Compare content types between branches</a> API Reference document<p><strong>Note</strong>: To see all the calls in action, please provide your Contentstack-account-specific values to the parameters. For more information, refer to the <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/\">Content Management API</a> doc.</p>","operationId":"comparecontenttypesbetweenbranches","parameters":[{"name":"base_branch","in":"query","required":false,"description":"The basis on which comparison is done. If kept empty, the source branch of the compare branch is considered by default.","style":"form","schema":{"type":"string","example":""}},{"name":"compare_branch","in":"query","required":true,"description":"Enter the branch you want to compare with the base branch.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"Enter the number of branches to be skipped from the response body.","style":"form","schema":{"type":"string","example":""}},{"name":"limit","in":"query","required":false,"description":"Enter the maximum number of branches compare result to be returned. The default limit is set at 100.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/stacks/branches_compare/global_fields":{"get":{"summary":"Compare global fields between branches","description":"<p>The <span data-type='inlineCode'>Compare global fields between branches</span> request returns a list of all the differences in global fields between the two specified branches.<br><br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/a
[...]
